.profile_box {
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 1rem;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.profile_image {
  width: 100px;
  height: 100px;
  background-color: rgb(66, 64, 64);
  border-radius: 50%;
}
.username {
  font-weight: bold;
  margin: 10px;
}
.info {
  color: grey;
  margin: 5px;
}
.list {
  display: flex;
  border: 1px solid grey;
  background-color: gainsboro;
}
.item_border {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid grey;
}
.item_bold {
  font-weight: bolder;
}
